@model Vm.Pm.App.ViewModels.ContactViewModel

<p supress-by-claim-name="Phone" supress-by-claim-value="Add">
	<a asp-action="NewPhone" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">Novo Phone</a>
</p>

<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Phones.FirstOrDefault().Number)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phones.FirstOrDefault().TypePhoneId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Phones)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Number)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TypePhoneId)
			</td>

			<td class="text-right">
				<a class="btn btn-warning" asp-controller="Phones" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
				<a disable-by-claim-name="Phone" disable-by-claim-value="Edit" class="btn btn-info" asp-controller="Phones" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
				<a disable-by-claim-name="Phone" disable-by-claim-value="Remove" class="btn btn-danger" asp-controller="Phones" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
			</td>
		</tr>
		}
	</tbody>
</table>
