@model Vm.Pm.App.ViewModels.CustomerViewModel

@{
	ViewData["Title"] = "Alteração de Customer";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form asp-action="Edit">
	<vc:Summary></vc:Summary>

	<input type="hidden" asp-for="Id" />
	<div class="form-group col-md-6">
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="CompanyId" class="control-label"></label>
			<select asp-for="CompanyId" class="form-control" asp-items="@(new SelectList(Model.Companies, "Id", "LegalName"))">
				<option></option>
			</select>
			<span asp-validation-for="CompanyId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Document" class="control-label"></label>
			<input asp-for="Document" class="form-control" />
			<span asp-validation-for="Document" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="control-label"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Email" class="control-label"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-primary" />
			<a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
		</div>
	</div>
</form>

<hr />
<h4>Phones</h4>

<div id="PhoneTarget">
	<partial name="_PhonesListCustomer" model="@Model" />
</div>

<hr />
<h4>Addresses</h4>

<div id="AddressTarget">
	<partial name="_AddressesListCustomer" model="@Model" />
</div>

<hr />
<h4>Contacts</h4>

<div id="ContactTarget">
	<partial name="_ContactsListCustomer" model="@Model" />
</div>

<div id="myModal" class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="myModalContent"></div>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script>
		$(document).ready(function () {
			AjaxModal();
		});
	</script>
}
