@model IEnumerable<Vm.Pm.App.ViewModels.CustomerViewModel>

@{
	ViewData["Title"] = "Lista de Customers";
}

<h1>@ViewData["Title"]</h1>

<p supress-by-claim-name="Customer" supress-by-claim-value="Add">
	<a class="btn btn-info" asp-action="Create">Novo Customer</a>
</p>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Document)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Company)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Document)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Company.DocumentNumber)
			</td>
			<td class="text-right">
				<a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
				<a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
				<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
			</td>
		</tr>
}
	</tbody>
</table>
